* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(206, 206, 206);
}

img {
  max-width: 100%;
}

.container {
  margin: auto;
  width: 90%;
  max-width: 1400px;
}

header {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(44, 44, 44);
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

main {
  min-height: calc(100vh - 62px);
  .blog-title {
    text-align: center;
    margin-top: 40px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}

.blog-post {
  display: flex;
  justify-content: center;
}

.blog-card {
  margin-top: 50px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  height: 500px;
  width: 400px;
  img {
    width: 400px;
  }

  h3,
  p {
    margin-top: 15px;
    margin-left: 10px;
  }

  .play {
    margin-top: 15px;
    margin-left: 10px;
    padding: 7px 25px;
    background-color: rgb(255, 98, 0);
    color: white;
    border: 0;
  }

  .play:hover {
    background-color: transparent;
    border: 1px solid rgb(255, 98, 0);
    color: rgb(255, 98, 0);
  }
}

footer {
  background-color: rgb(39, 39, 39);
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
